<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.roebert.beacon</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>beacon</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Bluetooth access is needed to advertise the beacon.</string>
</dict>
</plist>
